*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}


:root{
  --topColor:rgb(236,236,236);
  --middleColor:rgb(245,245,245);
  --footerColor:rgb(241,241,241);
  --darazColor:rgb(245,114,36);
  --textColor:rgb(64,181,224);
}
li{
  list-style-type: none;
}
.home-container{
  /* border: 1px solid red; */

  width:1350px;
  height:200vh;
}
.navbar-top{
background-color: var(--topColor);
display: flex;
width: 100%;

height:25px;
align-items: center;
}
.navbar-top-left{
  flex:40%;
}
.navbar-top-right{
  flex:60%;
  display: flex;
  align-items: center;
}
.navbar-top-right ul{
  display: flex;
  align-items: center;
}
.navbar-top-right ul li{
  font-size: 12px;
  padding: 0 17px;


}
a{
  text-decoration: none;
  color:black;

}
.navbar-top-right ul li a{
transition: 0.25s color ease-in-out;

}
.navbar-top-right ul li a:hover{
  text-decoration: underline;
  color: var(--darazColor) ;

}
.li-first{
  color: var(--darazColor) ;
  text-decoration: underline;
}

.navbar-mid{
  height:75px;
  padding-top: 11px;
  display: flex;
  align-items: center;
  padding:0 50px;
  position: sticky;
  z-index: 1000;
  top:25px;
  position: sticky;  
  position: -webkit-sticky;
  background: rgb(255,255,255);
    top:0px;
}

.daraz-icon{
  flex:20%;
  object-fit: contain;
  width:135px;
  height:45px;
}
.search-box{
  flex:50%;
  display: flex;
  align-items: center;

}
.search-box input{
  width:90%;
  padding:15px;
  background: var(--middleColor);
  outline: none;
  border:none;
}

.nav-ada{
  object-fit:fill;
  width:10px;
  height:55px;  

  flex:15%;
  padding:5px;

}
.fa-search{
  background: var(--darazColor);
  color:white;
  padding:15px;
}

.fa-shopping-cart{
  padding:15px;
  font-size: 20px;
  flex:5%;
  text-align: center;

}


.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 400px;
  margin-left: 50px;
  /* border:1px solid red; */
  /* width:1366px; */
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
.main-top{
  position: relative;
}
.menu-list{
  position: absolute;
  top:0px;
  left:150px;
  width:200px;
  height:100%;
  background: white;
  display: flex;
 

}

.menu-list ul{
  /* border: 1px solid red; */
  height:100%;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* fon; */
  /* justify-content: space-between; */

}

.menu-list ul li{
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  opacity: 0.6;
  width: 100%;
  /* border: 1px solid red; */
  padding: 5px;
  align-items: center;

}
.menu-list ul li:hover::after{
  font-family: "Font Awesome 5 Free";
   font-weight: 600;
   font-size: 15px;
  content:"\f531";
  


}

.menu-list li:hover{
  color:var(--textColor);
  opacity: 1;
  cursor: pointer;
  background: var(--middleColor);

}
.list-item-0{
  position: relative;
}

.secondary-list-item{
  display:none !important;
  background: white;
  height: 400px !important;
  color: black;
  -webkit-box-shadow: -1px 2px 9px -1px rgba(0,0,0,0.25); 
box-shadow: -1px 2px 9px -1px rgba(0,0,0,0.25);

 
}
.tertiary-list-item{
  display:none !important;
  background: white;
  height: 400px !important;
  color: black;
  -webkit-box-shadow: -1px 2px 9px -1px rgba(0,0,0,0.25); 
box-shadow: -1px 2px 9px -1px rgba(0,0,0,0.25);
}
.list-item-1:hover .secondary-list-item{
  display: block !important;
  position: absolute;
  left:200px;
  top:0;
  /* background: red !important; */
}
.list-item-11:hover .tertiary-list-item{
  display: block !important;
  position: absolute;
  left:200px;
  top:0;
}
.list-item-11:hover .tertiary-list-item li:after{
  content:""
}
.covid-notice{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}
.covid-notice img{
  padding-top: 15px;
  /* border:1px solid red; */
}
.covid-notice p{
  position: absolute;
  bottom:0;
  margin-left: 100px;
  background: rgb(196,34,13);
  color:white;
  padding:5px;
  font-size: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bolder;
}
.midcontent{
  padding:0 85px;
  background: var(--middleColor);
  /* border:1px solid red; */
  /* background: red; */
}

.functions ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  margin-top: 10px;
}

.functions img{
  height: 32px;
width:32px;
}

.functions ul li{
  display: flex;
  align-items: center;
  gap:10px;
  background: white;
  padding:5px;
  border-radius: 20px;
  width: 220px;
}